__pycache__/calc.cpython-313.pyc
__pycache__/click_event.cpython-313.pyc
__pycache__/global_value.cpython-313.pyc
__pycache__/key_input.cpython-313.pyc
__pycache__/utils.cpython-313.pyc
build/app/base_library.zip
build/app/Analysis-00.toc
build/app/app.pkg
build/app/EXE-00.toc
build/app/PKG-00.toc
build/app/PYZ-00.pyz
build/app/PYZ-00.toc
build/app/warn-app.txt
build/app/xref-app.html
build/app/localpycs/pyimod01_archive.pyc
build/app/localpycs/pyimod02_importers.pyc
build/app/localpycs/pyimod03_ctypes.pyc
build/app/localpycs/pyimod04_pywin32.pyc
build/app/localpycs/struct.pyc
